<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Techblog homepage</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/" id="logout">Logout</a></li>
  </ul>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      The Techblog 
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
