
<section class="banner" style="margin: 0%; padding:0%">
 <section class="hero-banner bg-light py-5">
    <div class="container">
        <div class="row row align-items-center">
              <h1>My Dashboard</h1>
              <h4>Hello {{user_name}} </h4>
        </div>
    </div>
  </section>

<h4>Your Posts</h4>
{{#each userPosts as |post|}}
  <div class="card" style="height: 10rem; margin-left:0.1rem;">
    <div class="card-header">
      <h3 class="card-title"><a href="/post/{{post.post_id}}">{{post.title}}</a>
        </h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.body}}</p>
    </div>
  </div>
{{/each}}
<form>
  <!-- title input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example1">Title</label>
    <input type="text" id="postTitle" class="form-control" />
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
     <label class="form-label" for="form4Example3">Content</label>
    <textarea class="form-control" id="postBody" rows="4"></textarea>
  </div>
<button type="button" class="btn btn-primary" id="addPost">+ Add a Post</button>
</form>

<script src="/js/addPost.js"></script>