<form>
  <!-- title input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example1">Title</label>
    <input type="text" id="postTitle" class="form-control" />
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
     <label class="form-label" for="form4Example3">Content</label>
    <textarea class="form-control" id="postBody" rows="4"></textarea>
  </div>
<button type="button" class="btn btn-primary" id="addPost">+ Add a Post</button>
</form>