<!-- Loop over each post -->
<h2 style="margin-left: 1rem;">All posts</h2>

{{#each allPosts as |post|}}

  <div class="card" style="height: 10rem; margin:1.5rem;">
    <div class="card-header">
      <h3 class="card-title"><a href="/post/{{post.post_id}}">{{post.title}}</a>
        <span class="card-subtitle" style="font-size: 1rem;">by
          {{getObjectProperty post "user.name"}}</span></h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.body}}</p>
    </div>

  </div>

{{/each}}